.know-measure-size-popup{
    height: 85vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 98;
    background: #8AB8DE;
    padding-top: 55px;
    padding-bottom: 35px;
    // display: none;
    
}