body {
    background-color: #fff;
    font-weight: 400;
    overflow-x: hidden !important;
    overflow-y: auto;
    color: #000000;
    font-family: $body_font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a,
span {
    display: inline-block;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

p {
    font-size: 14px;
    line-height: 24px;
    color: #353535;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background-color: #FF005D;
}

::selection {
    color: white;
    background-color: #FF005D;
}

ul {
    margin: 0;
    padding: 0;
}

.body-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 100;
    display: none;
}

.dummy {
    opacity: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
}

.dummy div {
    width: 100%;
    height: 2px;
}

.pad-top-20 {
    padding-top: 20px;
}

.pad-bottom-20 {
    padding-bottom: 20px;
}

.swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    background: $color_main;
    opacity: 0.14;

    &.swiper-pagination-bullet-active {
        opacity: 1;
    }
}

.menu-open-scroll-lock,
.sleep-score-popup-open-scroll-lock {
    overflow: hidden;
}

.number-change {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 0;
    display: flex;

    span {
        cursor: pointer;
    }

    .word {
        padding: 0 5px;
        padding-top: 2px;
    }

    .minus,
    .plus {
        width: 33%;
        background: none;
        border-radius: 0;
        padding: 3px 0;
        border: 0;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        color: $color_black;
    }

    input {
        width: 33%;
        text-align: center;
        font-size: 14px;
        line-height: 26px;
        border: 0;
        border-left: 1px solid rgba(0, 0, 0, 0.25);
        border-right: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 0;
        display: inline-block;
        vertical-align: middle;
        background: transparent;
    }
}