.shipment-summary{
    &--title{
        color:$color_black;
        font-size: 16px;
    }
    &--content{
        font-size:14px;
        color: $color_black;
    }

    &--tab-adjuster{
        margin:2px -25px 30px -25px;
    }


}
.select-payament{
    list-style: none;
    border:solid 1px $color_black;
    border-radius: 5px;
    margin-bottom: 40px;

    &--title-margin{
        margin-bottom: 20px;
    }

    h3{
        font-size: 14px;
        font-weight: 600;
        color: $color_black;
    }
    span{
        color: $color_lightgrey;
        font-size: 12px;
    }

    li{
        border-bottom: solid 1px $color_black;
        padding: 10px 0;
    }

    li:last-child{
        border:none;
    }

}